
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    color: dimgray;
}

h1{
    font-size: 50px;
}

.name-ome{
    color: teal;
}

.first-half{
    float: left;
    width: 40%;
    margin:3%;
    padding-left: 2%;
}
.first-half img{
    width: 100%;
}

.bruce-banner{
    background: url(images/top-banner.png) no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}

.hire-button{
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    background-image: linear-gradient(45deg, cyan, teal);
    border-radius: 7px;
    font-weight: 650;
}
.cont{
    padding-top: 60px;
}
.big_d{
    background: url(images/dream-bg.png) no-repeat;
    background-position: right;
}

.single-half{
    box-shadow: 10px 10px 40px gray;
    height: 65%;
    width: 40%;
    border-radius: 5px;

}
.experea{
    background: url(images/exp-bg.png) no-repeat;
    background-position: left;
}

#f-stack{
    border-left: 7px solid;
    border-image: linear-gradient( lightsalmon, tomato);
    border-image-slice: 1;
}

#newbie{
    border-left: 7px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice: 1;
}

footer .foot{
    text-align: center;
    font-size: small;
}